<div [formGroup]="form">
  <label [attr.for]="configuration.key">
    {{configuration.label}}
  </label>
  <div [ngSwitch]="configuration.controlType">
    <input *ngSwitchCase="'textbox'" [formControlName]="configuration.key" [id]="configuration.key" [type]="configuration.type">

    <select [id]="configuration.key" *ngSwitchCase="'dropdown'" [formControlName]="configuration.key">
      <option *ngFor="let opt of configuration.options" [value]="opt.key" [selected]="opt.value[0]">
      {{opt.value}}
      </option>
    </select>
  </div>
  <div class="errorMessage" *ngIf="!isValid" class="alert alert-danger">{{configuration.label}} is not valid name.</div>
</div>
