<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let configuration of configurations" class="form-row">
      <df-configuration [configuration]="configuration" [form]="form"></df-configuration>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
      <button (click)="goBack()">Cancel</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Overwritten the following Configuration</strong>
    <br>{{payLoad}}
  </div>
</div>
