<h2>Instances</h2>
<div *ngIf="configuration">
  Using Server Configuration {{configuration.commit_id}}
</div>
<div>
<ul class="instances">
  <li *ngFor="let instance of instances" [class.selected]="instance === selectedInstance" (click)="onSelect(instance)">
  <span class="badge">{{instance.name}}</span>
  </li>
</ul>
<!--TODO indicate new new instance can't be created-->
<button (click)="createInstances()">Create New Session</button>
<button (click)="deleteInstances()">Delete All Session</button>
</div>
